@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('fonts/pretendard.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    font-family: 'notosanskr', 'Pretendard';
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

h2 {
    font-family: 'Pretendard';
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12rem;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 10px;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
    background-color: #619ab4;
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1697bf, #62b7ac);
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
    display: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans KR', 'Pretendard';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.0425rem;
    color: #333;
    line-height: 1.4;
    background-color: #f3f5f2;
}

.clearfix:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrap {
    position: relative;
    display: block;
}

.container {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.gotop {
    position: fixed;
    /*right: 5rem;*/
    left: calc(50% + 70rem);
    transform: translateX(-50%);
    bottom: 20rem;
    width: 5rem;
    height: 1rem;
    border: 0;
    background-color: #8988ff;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    z-index: 99;

    cursor: pointer;

    display: none;
}

.gotop:hover {
    background-color: #666;
}

.gotop-active {
    display: block;
}

.wrap {
    position: relative;
    display: block;
    margin: 0 auto;
}

/* header */
.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 8rem;
    z-index: 9999;
}

.header .container {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
}

.header-active {
    top: 0;
    height: 8rem;
    box-shadow: 1px 1px 2px #754ef9;
    transition: all 0.5s;
}

.header-active .gnb>li>a {
    color: #754ef9 !important;
}

.header-active .gnb>li>a:hover {
    color: #fff !important;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 20rem;
    height: 5rem;
    margin-top: 1.2rem;
    background: url("../images/logo.svg") no-repeat center;
}

.header-active .logo {
    background: url("../images/logo_2.svg") no-repeat center;
}

.gnb {
    position: absolute;
    right: 0;
    top: 0;
}

.gnb>li {
    float: left;
    padding: 3rem 1rem;
}

.gnb>li>a {
    font-size: 1.6rem;
    font-family: 'notosanskr';
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    ;
    letter-spacing: -0.025rem;
}

.gnb>li>a:hover {
    color: #754ef9;
}

/* visual */
.visual {
    position: relative;
    display: block;
    height: 94rem;
    overflow: hidden;
    margin: 0 auto;
    background: url('../images/pro_1.png') no-repeat center;
    background-size: 100%;
    background-size: cover;
}

.visual-txt {
    position: absolute;
    left: 0;
    top: 30rem;
    font-size: 4.5rem;
    font-weight: 300;
    color: #fff;
}

.visual-txt b {
    font-size: 6.0rem;
}

.visual-scroll {
    position: absolute;
    right: 0;
    top: 85rem;
    text-align: center;
}

.visual-scroll p {
    width: 100%;
}

.visual-scroll-down {
    position: absolute;
    top: 40px;
    left: 50%;
    animation-name: scrollmotion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

}

@keyframes scrollmotion {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 15px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.visual-scroll p {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

/* profile */
.prof {
    position: relative;
    display: block;
    height: 94rem;
    overflow: hidden;
}

.prof .container {
    padding: 12rem 0;
}

.prof2 {
    position: relative;
    display: block;
    height: 94rem;
    overflow: hidden;
}

.prof-left {
    width: 50%;
}

.pro-2-img {
    position: absolute;
    top: 13rem;
    left: 43rem;
}

.prof-right {
    width: 50%;
}

.prof-edu-left {
    float: left;
    
}

.prof-edu-right {
    float: left;
    margin-left: 5rem;
    
}

.prof-edu-txt {
    left: 2.6rem;
    top: -2rem;
    width: 9rem;
    font-family: 'notosanskr', 'Pretendard';
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    color: #333;
}

.prof-edu-txt b {
    color: #8988ff;
    font-size: 2.6rem;
}
.prof-edu-txt p {
    font-weight: 700;
}

.prof-box-txt {
    font-family: 'notosanskr', 'Pretendard';
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    color: #333;
}

.prof-box-txt h3 {
    margin-top: 10rem;
    font-size: 3rem;
}

.prof-box-txt b {
    font-size: 2.4rem;
}

/* publ */
.publ {
    position: relative;
    display: block;
    margin: 0 auto;
}

.publ .container {
    padding: 12rem 0;
}

.publ-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
}

/* swiper 관련 */
.publ_slide {
    position: relative;
    height: 61rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.bg1 {
    background: url('../images/publ_1_m.png') no-repeat center;
}

.bg2 {
    background: url('../images/publ_2_m.png') no-repeat center;
}

.bg3 {
    background: url('../images/publ_3_m.png') no-repeat center;
}

.bg4 {
    background: url('../images/publ_4_m.png') no-repeat center;
}

.publ-box-title {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    color: #333;
    font-size: 5.0rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.08rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.publ-box-title ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 2rem;
    background-color: #707070;
}

.publ-box-title p {
    position: relative;
    font-size: 1.5rem;
    color: #666;
}

.publ-box-txt {
    position: relative;
    display: block;

    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.0375rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.publ-box-link {
    position: relative;
    display: block;
    width: 11.4rem;

    text-align: center;
    color: #666;
    font-size: 1.3rem;
    font-size: 400;
    letter-spacing: -0.0375rem;
    line-height: 3.4rem;

    border: 1px solid #bbb;
    background-color: #fff;

    transition: background-color 0.5s;
}

.publ-box-link:hover {
    background-color: #f8f8f8;
}

.sw-publ-control {
    position: relative;
    display: block;
}

.sw-publ-prev {
    position: relative;
    display: block;
    width: 2.6rem;
    height: 2rem;
    background: url('../images/swiperArrP.png')no-repeat;
    background-position: 0 0;
}

.sw-publ-prev:hover {
    background-position: 0 -2rem;
    cursor: pointer;
}

.sw-publ-next {
    position: absolute;
    left: 11.5rem;
    top: 0;
    display: block;
    width: 2.6rem;
    height: 2rem;
    background: url('../images/swiperArrN.png')no-repeat;
    background-position: 0 0;
}

.sw-publ-next:hover {
    background-position: 0 -2rem;
    cursor: pointer;
}

.sw-publ-pg {
    left: 2.6rem;
    top: -2rem;
    width: 9rem;
    font-family: 'notosanskr', 'Pretendard';
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    color: #bbb;
}

.sw-publ-pg .swiper-pagination-current {
    color: #222;
    font-family: 'notosanskr', 'Pretendard';
    font-size: 4.8rem;
    font-weight: 400;
}

/* 
.publ-box-bt {
    position: absolute;
    left: 50%;
    bottom: 15rem;
    width: 100%;
}

.publ-box-bt a {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #333;
    border-radius: 3rem;
    margin-right: 2rem;
}

.publ-box-bt:hover {
    background-color: #754ef9;
    color: #fff;
} */


/* rede */
.rede {
    position: relative;
    display: block;
    height: 94rem;
    /* overflow: hidden; */
}

.rede .container {
    padding: 12rem 0;
}

.rede-box {
    position: relative;
    display: block;
    width: 30rem;
    height: 100%;
}

.rede-slide {
    position: relative;
    display: block;
    width: 90rem;
    height: 100%;
}

.rede-box-title {
    position: absolute;
    left: 0;
    top: -10rem;
    display: block;
    color: #333;
    font-size: 5.0rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.08rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.rede-box-title ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 2rem;
    background-color: #707070;
}

.rede-box-title p {
    position: relative;
    font-size: 1.5rem;
    color: #666;
}

.rede-box-txt {
    position: relative;
    display: block;

    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.0375rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.rede-box-link {
    position: relative;
    display: block;
    width: 11.4rem;

    text-align: center;
    color: #666;
    font-size: 1.3rem;
    font-size: 400;
    letter-spacing: -0.0375rem;
    line-height: 3.4rem;

    border: 1px solid #bbb;
    background-color: #fff;

    transition: background-color 0.5s;
}

.rede-box-link:hover {
    background-color: #f8f8f8;
}

.sw-rede-control {
    position: absolute;
    left: 0;
    top: -20rem;
    display: block;
}

.sw-rede-prev {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 2.6rem;
    height: 2rem;
    background: url('../images/swiperArrP.png')no-repeat;
    background-position: 0 0;
}

.sw-rede-prev:hover {
    background-position: 0 -2rem;
    cursor: pointer;
}

.sw-rede-next {
    position: absolute;
    left: 11.5rem;
    top: 0;
    display: block;
    width: 2.6rem;
    height: 2rem;
    background: url('../images/swiperArrN.png')no-repeat;
    background-position: 0 0;
}

.sw-rede-next:hover {
    background-position: 0 -2rem;
    cursor: pointer;
}

.sw-rede-pg {
    left: 2.6rem;
    top: -2rem;
    width: 9rem;
    font-family: 'notosanskr', 'Pretendard';
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    color: #bbb;
}

.sw-rede-pg .swiper-pagination-current {
    color: #222;
    font-family: 'notosanskr', 'Pretendard';
    font-size: 4.8rem;
    font-weight: 400;
}

.rede-slide {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sw-rede {}


/* otherwork */
.otherwork {
    position: relative;
    display: block;
    height: 94rem;
    overflow: hidden;
}

.otherwork .container {
    height: 100%;
    padding: 12rem 0;
}

.other-left {
    display: block;
    width: 50%;
}

.other-right {
    display: block;
    width: 50%;

}

/* life */
.life {
    position: relative;
    display: block;
    height: 94rem;
    overflow: hidden;
}

.life .container {
    height: 100%;
    padding: 12rem 0;
}

.life-list {
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 5.8rem;
}

.life-img {
    display: inline-block;
    cursor: pointer;

}

.life-txt {
    font-size: 1.8rem;
    font-weight: 300;
    color: #505050;
    text-align: center;
    line-height: 1.7em;
}


/* contact */
.contact {
    position: relative;
    display: block;
    text-align: center;
}

.contact .container {
    height: 100%;
    padding: 12rem 0;
}

/* footer */
.footer {
    position: relative;
    display: block;
    height: 33rem;
}

.footer-img {
    position: absolute;
    width: 100%;
    height: 10rem;
    bottom: 0;
}